<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>

    <meta name="description" content="{{metadata.site.description}}">
    <meta name="robots" content="index,follow">
    <meta name="generator" content="Eleventy">

    <!--Twitter Card-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{metadata.site.twitter}}">
    <meta name="twitter:creator" content="@{{metadata.author.twitter}}">
    <meta name="twitter:url" content="{{site.baseURL}}{{url}}">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{ description or site.description }}">

    <!--Schema-->
    <link rel="author" href="{{metadata.author.twitter}}">
    <link rel="publisher" href="{{metadata.site.baseURL}}">
    <meta itemprop="name" content="{{title}}">
    <meta itemprop="description" content="{{ metadata.site.description }}">

    <!-- Facebook OpenGraph -->
    <meta property="fb:app_id" content="{{metadata.site.fb_app_id}}">
    <meta property="og:url" content="{{site.baseURL}}{{url}}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{ metadata.site.description }}">
    <meta property="og:site_name" content="{{metadata.title}}">
    <meta property="og:locale" content="en_EN">
    <meta property="article:author" content="{{site.author.twitter}}">

    <link
      href="https://fonts.googleapis.com/css?family=Noto+Serif+KR:500,600,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../styles/index.css" />

    <link rel="webmention" href="https://webmention.io/cloudbacon.com/webmention" />
    <link rel="pingback" href="https://webmention.io/cloudbacon.com/xmlrpc" />
    <link rel="icon" href="data:,">
  </head>
  <body>
    <div class="container post-container">
        <h1>{{ title }}</h1>
      {{ content }}
      <div class="back-link">
        <a href="/">← Back</a>
      </div>
    </div>
  </body>
</html>
