<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ metadata.title }}</title>

    <meta name="description" content="{{metadata.site.description}}">
    <meta name="robots" content="index,follow">
    <meta name="generator" content="Eleventy">

    <!--Twitter Card-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{metadata.site.twitter}}">
    <meta name="twitter:creator" content="@{{metadata.author.twitter}}">
    <meta name="twitter:url" content="{{metadata.site.baseURL}}">
    <meta name="twitter:title" content="{{metadata.title}}">
    <meta name="twitter:description" content="{{ metadata.site.description }}">
    
    <!--Schema-->
    <link rel="author" href="{{metadata.author.twitter}}">
    <link rel="publisher" href="{{metadata.site.baseURL}}">
    <meta itemprop="name" content="{{metadata.title}}">
    <meta itemprop="description" content="{{ metadata.site.description }}">
    
    <!-- Facebook OpenGraph -->
    <meta property="fb:app_id" content="{{metadata.site.fb_app_id}}">
    <meta property="og:url" content="{{metadata.site.baseURL}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{metadata.title}}">
    <meta property="og:description" content="{{ metadata.site.description }}">
    <meta property="og:site_name" content="{{metadata.title}}">
    <meta property="og:locale" content="en_US">
    <meta property="article:author" content="{{site.author.twitter}}">

    <link
      href="https://fonts.googleapis.com/css?family=Noto+Serif+KR:500,600,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles/common.css" />
    <link rel="stylesheet" href="./styles/homepage.css" />

    <link rel="webmention" href="https://webmention.io/cloudbacon.com/webmention" />
    <link rel="pingback" href="https://webmention.io/cloudbacon.com/xmlrpc" />
  </head>
  <body>
    <div class="container">
      <h2>{{metadata.title}}
      <img src="/img/bacon-svgrepo-com.svg" alt="cloudbacon" height="20" width="20"/>
      </h2>
      <p>
        Hi! My name is {{metadata.author.name}} or 
        "<a href={{metadata.author.twitter}} rel="me">braidn</a>" 
        throughout the internet.
        I am (currently) a {{metadata.author.gig.title}} {{metadata.author.gig.work}}
        @ <a href={{metadata.author.gig.url}}>
          {{metadata.author.gig.name}}
        </a>
      </p>
      {{ content }}
    </div>
    <!-- Default Statcounter code for Cloudbacon Blog https://cloudbacon.com/ -->
    <script type="text/javascript">
      var sc_project=12249983; 
      var sc_invisible=1; 
      var sc_security="56b99ac9"; 
      var sc_https=1; 
    </script>
    <script type="text/javascript"
            src="https://www.statcounter.com/counter/counter.js" async></script>
    <!-- End of Statcounter Code -->
  </body>
</html>
