!!! 5
/[if lt IE 7] <html lang="en" class="no-js ie6">
/[if IE 7 ]    <html lang="en" class="no-js ie7">
/[if IE 8 ]    <html lang="en" class="no-js ie8">
/[if IE 9 ]    <html lang="en" class="no-js ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  %meta{:charset => "utf-8"}
  /
    Use the .htaccess and remove these lines to avoid edge case issues.
    More info: h5bp.com/b/378
  %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
  - if @description
    %meta{"name" => "description", "content" => @description}
  - if @keywords
    %meta{"name" => "keywords", "content" => @keywords}
  %title= @title
  / Mobile viewport optimized: j.mp/bplateviewport
  %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}
  / Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons
  / CSS: implied media=all
  / CSS concatenated and minified via ant build script
  %link{:href => "/stylesheets/site.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
  /%link{:href => "/articles.xml", :rel => "alternate", :type => "application/atom+xml"}
  / end CSS
  / More ideas for your <head> here: h5bp.com/d/head-Tips
  /
    All JavaScript at the bottom, except for Modernizr / Respond.
    Modernizr enables HTML5 elements &amp; feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
    For optimal performance, use a custom Modernizr build: www.modernizr.com/download/
  %script{:src => "/javascripts/libs/modernizr-2.0.6.min.js"}
%body{:class => @body_class}
  #container
    %header
      = "#{@heading} - #{@subtitle}"
    #main
      = yield
    %footer
      Tommaso Patrizi
      - if @snippet 
        :javascript 
          #{@snippet}
  / ! end of #container
  / Javascript at the bottom for fast page loading
  / Grab Google CDN's jQuery. fall back to local if necessary
  %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
  :javascript
    window.jQuery || document.write('<script src="/javascripts/libs/jquery-1.6.2.min.js"><\/script>')    
  / scripts concatenated and minified via ant build script
 
  %script{:defer => "", :src => "/javascripts/plugins.js"}
  %script{:defer => "", :src => "/javascripts/script.js"}
  / end scripts
  / Change UA-XXXXX-X to be your site's ID
  :javascript
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
/
  Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
  chromium.org/developers/how-tos/chrome-frame-getting-started
/[if lt IE 7 ]
  <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
  <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
